@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BDO';
    src: url(../assets/web_pearl_original.ttf) format('truetype');
}

body {
    @apply bg-stone-900;
    font-family: 'BDO', sans-serif;
    color: #E8E4D9;
}

main {
    max-width: 50vw;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* li {
    cursor: pointer;
    padding: 5px;
    display: flex;
    gap: 12px;
    align-items: center;
    position: relative;
} */